* {
	margin: 0;
	padding: 0;
}

.container {
	width: 100%;
	min-width: 320px;
}

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}

.wrapper-inner {
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
}

.btn {
	font-family: 'Myriad Pro', Arial, sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 46px;
	text-align: center;
	letter-spacing: -0.7px;
	text-transform: uppercase;
	background-color: #ffc908;
	color: #242929;
  width: 150px;
  height: 46px;
}

.btn:hover {
	background-color: #242929;
	color: #ffc908;
}

.btn:active {
	transform: scale(0.98);
	background-color: #eee;
	color: #242929;
}

.title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 48px;
	color: #413f3f;
}

.title2 {
	font-family: 'Pompiere';
	font-size: 43px;
	line-height: 70px;
	color: #282d2d;
}

.title3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 24px;
	line-height: 60px;
	text-transform: uppercase;
	letter-spacing: 4.8px;
	color: #ffc908;
}

.content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0 10px;
	margin-bottom: 70px;
}

a {
	text-decoration: none;
}

body {
	font-family: 'Myriad Pro', Arial, sans-serif;
	font-size: 24px;
	line-height: 36px;
	color: #575c5c;
}