.aside {
	flex-basis: 31.6%;
	margin-right: 34px;
}



.about-block,
.where-block {
	position: relative;
	background-color: #fff;
	box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
	text-align: center;
	padding: 24px 22px 19px;
	margin-bottom: 46px;
} 

.about-block::before,
.where-block::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 460px;
	height: 800px;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 0 0 3px rgba(168, 174, 174, 0.40);
	z-index: 10;
}

.about-block .title,
.where-block .title {
	position: relative;
	width: 242px;
	margin: 0 auto;
	margin-bottom: 27px;
	background-color: #fff;
	z-index: 10;
}

.where-block iframe {
	position: relative;
	box-shadow: 0 0 0 15px #fff;
	z-index: 10;
}

.about-block {
	padding: 25px 0 0px;
	margin-bottom: 42px;
}

.about-block::before {
	height: 800px;
}

.about-block .title {
	margin-bottom: 10px;
	line-height: 40px;
}

.about-block p:nth-child(2) {
	max-width: 440px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	line-height: 40px;
	box-shadow: 0 0 0 17px #fff;
	background-color: #fff;
	z-index: 10;
}

.about-block p:nth-child(3) {
	position: relative;
	font-size: 36px;
	line-height: 58px;
	font-family: 'neotericregular', sans-serif;
	z-index: 11;
}

.about-social {
	position: relative;
	max-width: 300px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	z-index: 11;
}

.about-social::before {
	position: absolute;
	content: "";
	left: 50%;
	transform: translateX(-50%);
	bottom: 0;
	width: 432px;
	height: 4px;
	background-color: rgba(168, 174, 174, 0.40);
}

.about-social .social-btn {
	font-size: 36px;
	line-height: 73px;
	color: #575c5c;
}

.about-social .social-btn:hover {
	color: #ffc908;
}

.about-social .social-btn:active {
	transform: scale(0.90);
	color: #575c5c;
}

.about-block .photo {
	position: relative;
	box-shadow: 0 -150px 0 0 #fff;
	bottom: -11px;
	z-index: 10;
}

.tags-block,
.recent-posts,
.categories-block,
.newsletter-block {
	position: relative;
	text-align: center;
	margin-bottom: 42px;
	box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
}

.tags-block::before,
.recent-posts::before,
.categories-block::before,
.newsletter-block::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
	width: 100%;
	height: 200px;
	transform: translate(-50%, -50%);
	box-shadow: inset 0 0 0 3px rgba(168, 174, 174, 0.40);
	z-index: 10;
}

.newsletter-block::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: 0;
	width: 100%;
	height: 3px;
	background-color: rgba(168, 174, 174, 0.40);
	z-index: 20;
}

.tags-block .title2,
.recent-posts .title2,
.categories-block	.title2,
.newsletter-block .title2 {
	position: relative;
	max-width: 355px;
	margin: 0 auto;
	background-color: #fff;
	z-index: 10;
}

.newsletter-block form {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	text-align: center;
	background-color: #fff;
	z-index: 10;
}

.newsletter-block input {
	border: none;
	outline: none;
	width: 100%;
	margin: 0 auto;
}

.newsletter-block input:nth-child(1) {
	width: 90%;
	font-size: 20px;
	line-height: 70px;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	height: 55px;
	padding: 0 30px;
	box-shadow: inset 0 -2px 0 0 #242929;
	color: #a8aeae;
}

.newsletter-block input:nth-child(1)::placeholder {
	text-align: center;
	font-size: 20px;
	line-height: 70px;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-style: italic;
}

.newsletter-block input:nth-child(2) {
	text-transform: uppercase;
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	line-height: 58px;
	font-weight: 700;
	letter-spacing: 4px;
	color: #fff;
	background-color: #a9b3e3;
	margin: 27px 0 62px;
}

.newsletter-block input:nth-child(2):hover {
	background-color: #586ccc;
}

.newsletter-block input:nth-child(2):active {
	background-color: #eee;
	color: #586ccc;
	font-size: 18px;
}

.recent-posts,
.categories-block {
	padding: 18px 0 11px;
}

.categories-block::before {
	height: 223px;
}

.recent-posts::after,
.categories-block::after {
	position: absolute;
	content: "";
	top: 77px;
	left: 0;
	width: 100%;
	height: 220px;
	background-color: #fff;
	z-index: 10;
}

.categories-block	.title2 {
	margin-bottom: -1px;
}

.categories-block a {
	position: relative;
	display: block;
	width: 470px;
	font-size: 24px;
	line-height: 57px;
	letter-spacing: 3px;
	box-shadow: inset 0 -1px 0 0 rgba(36, 41, 41, 0.1);
	color: #575c5c;
	margin: 0 auto;
	z-index: 11;
}

.categories-block a:nth-child(5) {
	box-shadow: none;
}

.categories-block a:hover {
	color: #ffc908;
}

.categories-block a:active {
	color: #eee;
}

.recent-posts {
	padding: 17px 22px 33px;
	margin-bottom: 35px;
}

.recent-posts .title2 {
	margin-bottom: 18px;
}

.recent-posts::before {
	top: 53.3%;
	height: 735px;
}

.recent-posts::after {
	height: 706px;
}

.recent-posts-blocks [class^="block-"] {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-align: left;
	z-index: 11;
}

.posts-text {
	margin-left: 43px;
}

.posts-text p {
	font-size: 24px;
	line-height: 37px;
	letter-spacing: 3px;
	font-family: 'Open Sans', sans-serif;
	color: #282d2d;
}

.posts-text p:nth-of-type(2) {
	color: #a8aeae;
}

.recent-posts-blocks [class^="block-"] .image-post {
	margin: 6.5px 0 19px;
	width: 186px;
	height: 104px;
	background-image: url("../../img/marionatravel.jpg");
}

.recent-posts-blocks [class^="block-"]:nth-child(even) .image-post {
	width: 186px;
	height: 104px;
	background-image: url("../../img/johntravel.jpg");
}

.tags-block {
	margin-bottom: 46px;
	padding: 17px 0 27px;
}

.tags-block .title2 {
	max-width: 220px;
	margin-bottom: 13px;
}

.tags-grid {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-around;
	background-color: #fff;
	box-shadow: 0 -7px 0 0 #fff;
	z-index: 10;
}

.tags-block a {
	width: 50%;
	max-width: 214px;
	font-size: 33px;
	text-transform: uppercase;
	letter-spacing: 3px;
	box-shadow: inset 0 0 0 3px rgb(255, 201, 8);
	padding: 7px 0 3px;
	margin-bottom: 28px;
	color: #242929;
}

.contacts form input:last-child:hover,
.tags-block a:hover {
	box-shadow: inset 0 0 0 3px #000;
	background-color: #000;
	color: rgb(255, 201, 8);
}

.contacts form input:last-child:active,
.tags-block a:active {
	transform: scale(0.94);
}

.tags-block::before {
	height: 231px;
}

.contacts {
	font-family: 'Open Sans', sans-serif;
	padding: 22px 35px 22px 56px;
	box-shadow: inset 0 0 0 1px #eef2f6;
	border-radius: 3px;
	text-align: center;
}

.contacts form input:nth-child(2) {
	margin-top: 22px;
}

.contacts form textarea,
.contacts form input {
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	display: block;
	outline: none;
	border: none;
	box-shadow: inset 0 0 0 1px #eef2f6;
	border-radius: 3px;
	background-color: #f6f8f9;
}

.contacts form textarea,
.contacts form input {
	height: 49px;
	padding: 0 21px;
	margin-bottom: 15px;
}

.contacts form label {
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	color: #222222;
}

.contacts form textarea {
	height: 174px;
	resize: none;
	padding-top: 16px;
}

.contacts form textarea::placeholder,
.contacts form input::placeholder {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #777777;
}

.contacts form textarea:focus::placeholder,
.contacts form input:focus::placeholder {
	font-size: 0;
}

.contacts form input:last-child {
  border-radius: 3px;
  background-color: rgb(255, 201, 8);
  width: 117px;
  height: 52px;
  font-size: 34px;
  font-stretch: ultra-condensed;
  color: #0a0a0a;
  padding: 0;
  text-align: center;
}
