.footer {
	position: relative;
}

.footer-wrap [class^="block-gallery-"] {
	display: grid;
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
}

.footer-wrap .block-gallery-1 {
	box-shadow: 0 11px 18px 12px rgba(0, 0, 0, 0.33);
	margin-bottom: 30px;
}

[class^="block-gallery-"] .image {
	height: 472px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("../../img/footer/1.jpg");
}

.block-gallery-1 .img-2 {
	background-image: url("../../img/footer/2.jpg");
}

.block-gallery-1 .img-3 {
	background-image: url("../../img/footer/3.jpg");
}

.block-gallery-1 .img-4 {
	background-image: url("../../img/footer/4.jpg");
}

.block-gallery-2 .img-1 {
	background-image: url("../../img/footer/5.jpg");
}

.block-gallery-2 .img-2 {
	background-image: url("../../img/footer/6.jpg");
}

.block-gallery-2 .img-3 {
	background-image: url("../../img/footer/7.jpg");
}

.block-gallery-2 .img-4 {
	background-image: url("../../img/footer/8.jpg");
}

.footer-social {
	max-width: 1160px; 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	text-transform: uppercase;
	justify-content: space-between;
	margin: 0 auto;
	font-weight: 700;
	font-size: 14px;
	padding: 41px 15px 38px;
}

.footer-social .social-btn {
	display: inline-block;
	font-family: 'Myriad Pro', Arial, sans-serif;
	color: #575c5c;
}

.footer-social .social-btn:hover {
	color: #ffc908;
	text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.33);
}

.footer-social .social-btn:active {
	transform: scale(0.98);
}

.footer-social .social-btn i {
	display: inline-block;
	font-size: 16px;
	line-height: 21px;
	color: #575c5c;
	margin-right: 24px;
}

.footer-social .social-btn:hover i {
	color: #ffc908;
	text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.13);
}

.footer-social .social-btn:active i {
	transform: scale(0.98);
}

.footer-middle {
	position: relative;
	background-color: #737373;
	padding: 53px 0 59px;
}

.footer-middle::before {
	position: absolute;
	content: "";
	top: 11px;
	width: 100%;
	height: 1px;
	background-color: #fff;
	opacity: 0.2;
	z-index: 10;
}

.footer-nav {
	max-width: 780px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 16px;
}

.footer-nav a {
	text-transform: uppercase;
	color: #242929;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 1.6px;
}

.footer-nav a:hover {
	color: #fff;
}

.footer-nav a:active {
	transform: scale(0.98);
	color: #eee;
}

.footer-middle .footer-logo {
	width: 241px;
	margin: 0 auto;
	filter: invert(1) brightness(200%);
}

.arrow-up {
	position: absolute;
	bottom: 27px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 100px;
	height: 73px;
	line-height: 73px;
	background-color: #fff;
	vertical-align: middle;
	text-align: center;
	z-index: 10;
}

.arrow-up i {
	font-size: 20px;
	color: #000;
}

.arrow-up::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	border: 4px solid #e21712;
	border-top-color: transparent;
	border-right-color: transparent;
}

.arrow-up::after {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	border: 4px solid #e21712;
	border-top-color: transparent;
	border-left-color: transparent;
}

.arrow-up:hover {
	background-color: #eee;
}

.arrow-up:active {
	width: 95px;
	height: 68px;
	line-height: 68px;
}

.copyright {
	width: 390px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: #645a5a;
	font-size: 18px;
	margin-left: auto;
	padding: 14px 7px;
}

@media (max-width: 1020px) {
	.footer-social {
		max-width: 1160px; 
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		text-transform: uppercase;
		justify-content: space-around;
		margin: 0 auto;
		font-weight: 700;
		font-size: 14px;
		padding: 41px 15px 38px;
	}
	.footer-social .social-btn {
		width: 140px;
		white-space: nowrap;
	}
}

@media (max-width: 768px) {
	.footer-wrap [class^="block-gallery-"] {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
}

@media (max-width: 540px) {
	.footer-wrap [class^="block-gallery-"] {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}
	.footer-wrap .block-gallery-1 {
		box-shadow: none;
		margin-bottom: 0;
	}
}