
.header-top,
.header-nav,
.header-middle,
.header-social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-top {
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-top: 50px;
}

.header-top form {
	margin-top: 20px;
}

.header-top form input {
	max-width: 155px; 
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
	outline: none;
	border: none;
}

.header-top form input::placeholder {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
}

.header-top form i {
	font-size: 14px;
	color: #575c5c;
	margin-left: -10px;
}

.header-top .sub-btn {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 2.8px;
	color: #242929;
	padding: 2px 33px;
	margin-top: 28px;
	box-shadow: inset 0 0 0 1px rgba(36, 41, 41, 0.1); 
}

.header-top .sub-btn:hover {
	background-color: rgba(36, 41, 41, 1);
	color: #fff;
}

.header-top .sub-btn:active {
	transform: scale(0.98);
}