.header-top,
.header-nav,
.header-middle,
.header-social {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header-nav,
.header-social,
.header-middle {
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
}

.header-top {
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-top: 50px;
}

.header-top form {
	margin-top: 20px;
}

.header-top form input {
	max-width: 155px; 
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
	outline: none;
	border: none;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.header-top form input::-webkit-input-placeholder {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
}

.header-top form input::-moz-placeholder {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
}

.header-top form input:-ms-input-placeholder {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
}

.header-top form input::-ms-input-placeholder {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
}

.header-top form input::placeholder {
	font-family: 'Merriweather', serif;
	font-weight: 300;
	font-size: 14px;
	font-style: italic;
	color: #a8aeae;
}

.header-top form i {
	font-size: 14px;
	color: #575c5c;
	margin-left: -10px;
}

.header-top .sub-btn {
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 2.8px;
	color: #242929;
	padding: 2px 33px;
	margin-top: 28px;
	box-shadow: inset 0 0 0 1px rgba(36, 41, 41, 0.1); 
}

.header-top .sub-btn:hover {
	background-color: rgba(36, 41, 41, 1);
	color: #fff;
}

.header-top .sub-btn:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

.header-middle-wrap {
	position: relative;
	margin-top: 35px;
}

.header-middle {
	padding: 18px 10px 11px;
}

.header-middle-wrap:after,
.header-middle-wrap:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background-color: rgba(36, 41, 41, 0.1);
}

.header-middle-wrap:after {
	top: 4px;
}

.header-nav {
	flex-basis: 765px;
}

.header-nav a {
	font-family: 'Myriad Pro', Arial, sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	color: #242929;
}

.header-nav a:hover {
	color: #ffc908;
}

.header-nav a:active {
	color: #3E3E40;
}

.header-social {
	flex-basis: 193px;
}

.header-social i {
	font-size: 14px;
	color: #575c5c;
}

.header-social i:hover {
	color: #ffc908;
}

.header-social .social-btn:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);	
}

.header-social .social-btn:active {
	-webkit-transform: scale(1.0);
	transform: scale(1.0);
}

/* Sliders */


.header-slider-wrap {
	position: relative;
	overflow: hidden;
}

/* layer */
.header-slider-wrap::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 98.8%;
	background-image: linear-gradient(60deg,rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 704px, transparent 704px, transparent);
	z-index:9;
}

.header-slider-wrap .slider-promo {
	position: absolute;
	top: 140px;
	left: 39px;
	z-index: 10;
	color: #fff;
	text-align: center;
}

.slider-promo .title-middle {
	font-family: 'Bank Gothic Light BT', sans-serif;
	font-size: 48px;
	line-height: 36px;
}

.slider-promo p:nth-child(2) {
	position: relative;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 16px;
	line-height: 16px;
	letter-spacing: -0.60px;
	margin: 6px 0 0 10px;
}

.slider-promo p:nth-child(2):before {
	position: absolute;
	content: "";
	top: 2px;
	left: 19px;
	border: 6.5px solid #e21712;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

/* first slider */
.header-slider-first {
	position: absolute;
	top: 579px;
	padding-left: 104px;
	height: 220px;
	z-index: 11;
	overflow-y: hidden;
}

.header-slider-first .slider-title {
	font-family: 'Myriad Pro', sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
	line-height: 19px;
	letter-spacing: -0.50px;
	color: #fff;
	margin: 0 0 13px -67px;
}

.header-slider-first input {
	display: none;
}

.header-slider-first-inner {
	overflow-y: hidden;
}

.header-slider-first-slides {
	height: 300%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-moz-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	transition: all 1s ease;
}

.header-slider-first-slides [class^="slide-"] {
	height: 220px;
}

.header-slider-first-slides [class^="slide-"] p {
	color: #fff;
}

.header-slider-first-slides [class^="slide-"] p:nth-of-type(1) {
	font-size: 44px;
	line-height: 52px;
	text-transform: uppercase;
	letter-spacing: -1.32px;
	font-family: 'zurich_black_extended_bt', sans-serif;
	margin-bottom: 6px;
}

.header-slider-first-slides [class^="slide-"] p:nth-of-type(2) {
	max-width: 495px;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -0.15px;
	text-transform: none;
	font-family: 'Myriad Pro', sans-serif;
	margin-bottom: 33px;
}

.header-slider-first-slides [class^="slide-"] a {
	position: relative;
	padding: 12px 15px;
	font-size: 18px;
	letter-spacing: -0.60px;
	color: #000;
}

.header-slider-first-slides [class^="slide-"] a:hover {
	background-color: #000;
	color: #ffc908;
	box-shadow: inset 0 0 0 1px rgba(255, 201, 8, 0.2);
}

.header-slider-first-slides [class^="slide-"] a:before {
	position: absolute;
	content: "";
	top: 3px;
	right: 3px;
	border: 5px solid #000;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.header-slider-first-slides [class^="slide-"] a:hover:before {
	border: 5px solid #ffc908;
	border-left-color: transparent;
	border-bottom-color: transparent;
}

.header-first-controls {
	position: relative;
	top: 9px;
	left: -67px;
	z-index: 10;
}

/* up arrow */
#header-first-btn-1:checked ~ .header-first-controls label:nth-child(3), 
#header-first-btn-2:checked ~ .header-first-controls label:nth-child(1), 
#header-first-btn-3:checked ~ .header-first-controls label:nth-child(2) {
	position: absolute;
	display: block;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: 49% 50%;
	background-image: url("../../img/arrow.png");
	box-shadow: inset 0 0 0 1px #fff;
} 

#header-first-btn-1:checked ~ .header-first-controls label:nth-child(3) {
	box-shadow: inset 0 0 0 1px #e21712;
	background-color: #e21712;
}

/* down arrow */
#header-first-btn-1:checked ~ .header-first-controls label:nth-child(2), 
#header-first-btn-2:checked ~ .header-first-controls label:nth-child(3), 
#header-first-btn-3:checked ~ .header-first-controls label:nth-child(1) {
	position: absolute;
	display: block;
	top: 51px;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: 49% 50%;
	background-image: url("../../img/arrow.png");
	box-shadow: inset 0 0 0 1px #fff;
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
} 

#header-first-btn-3:checked ~ .header-first-controls label:nth-child(1) {
	box-shadow: inset 0 0 0 1px #e21712;
	background-color: #e21712;
}

#header-first-btn-1:checked ~ .header-slider-first-inner .header-slider-first-slides {
	-webkit-transform: translateY(0);
	transform: translateY(0);
} 

#header-first-btn-2:checked ~ .header-slider-first-inner .header-slider-first-slides {
	-webkit-transform: translateY(-220px);
	transform: translateY(-220px);
} 

#header-first-btn-3:checked ~ .header-slider-first-inner .header-slider-first-slides {
	-webkit-transform: translateY(-440px);
	transform: translateY(-440px);
}


/* second slider */

.header-slider-second {
	width: 1920px;
}

.header-slider-second input {
	display: none;
}

.header-slider-second-slides {
	width: 300%;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transition: all 1s ease;
}

.header-slider-second-inner {
	overflow-x: hidden;
}

.header-slider-second-slides [class^="slide-"] {
	width: 1920px;
}

.header-second-controls {
	position: absolute;
	bottom: 110px;
	left: 104px;
	width: 58px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	z-index: 10;
}

.header-second-controls label {
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #fff;
}

#header-second-btn-1:checked ~ .header-second-controls label:nth-child(1),
#header-second-btn-2:checked ~ .header-second-controls label:nth-child(2),
#header-second-btn-3:checked ~ .header-second-controls label:nth-child(3),
#header-second-btn-4:checked ~ .header-second-controls label:nth-child(4),
#header-second-btn-5:checked ~ .header-second-controls label:nth-child(5) {
	background-color: transparent;
	border: 1px solid #fff;
}

#header-second-btn-1:checked ~ .header-slider-second-inner .header-slider-second-slides {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
#header-second-btn-2:checked ~ .header-slider-second-inner .header-slider-second-slides {
	-webkit-transform: translateX(-1920px);
	transform: translateX(-1920px);
}
#header-second-btn-3:checked ~ .header-slider-second-inner .header-slider-second-slides {
	-webkit-transform: translateX(-3840px);
	transform: translateX(-3840px);
}
#header-second-btn-4:checked ~ .header-slider-second-inner .header-slider-second-slides {
	-webkit-transform: translateX(-5760px);
	transform: translateX(-5760px);
}
#header-second-btn-5:checked ~ .header-slider-second-inner .header-slider-second-slides {
	-webkit-transform: translateX(-7680px);
	transform: translateX(-7680px);
}

@media (max-width: 1200px) {
	.header-middle {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.header-nav {
		width: 90%;
		flex-basis: auto;
	}
	.header-social {
		width: 200px;
		flex-basis: auto;
	}
}

@media (max-width: 768px) {
	.header-middle {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
	.header-nav {
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.header-social {
		width: 200px;
		flex-basis: auto;
	}
	.header-nav a:not(:last-child) {
		margin-right: 20px;
	}
}

@media (max-width: 630px) {
	.header-top {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		margin-top: 20px;
	}
	.header-top form {
		position: absolute;
		margin-top: 180px;
	}
	.header-top .sub-btn {
		margin-top: 60px;
	}
}

@media (max-width: 540px) {
	.header-slider-first {
		left: 0;
	}
	.header-first-controls {
		position: absolute;
		top: 156px;
		left: 200px;
		z-index: 10;
	}
	.header-slider-first-slides [class^="slide-"] p:nth-of-type(1) {
		font-size: 28px;
		line-height: 34px;
	}
	.header-slider-first .slider-title {
		margin: 0 0 13px 0;
	}
	.header-slider-first {
		position: absolute;
		padding-left: 30px;
	}
	#header-first-btn-1:checked ~ .header-first-controls label:nth-child(3), 
	#header-first-btn-2:checked ~ .header-first-controls label:nth-child(1), 
	#header-first-btn-3:checked ~ .header-first-controls label:nth-child(2) {
		left: 50px;
	} 
	#header-first-btn-1:checked ~ .header-first-controls label:nth-child(2), 
	#header-first-btn-2:checked ~ .header-first-controls label:nth-child(3), 
	#header-first-btn-3:checked ~ .header-first-controls label:nth-child(1) {
		top: 0;
	} 
	.header-slider-wrap .slider-promo {
		position: absolute;
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
	.header-second-controls {
		left: 50%;
		-webkit-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

@media (max-width: 418px) {
	.header-slider-first-slides [class^="slide-"] p:nth-of-type(2) {
		margin-bottom: 15px;
	}
}