.main {
	flex-basis: calc(100% - 31.6% - 34px);
}


.content-blocks {
	position: relative;
	padding: 21px 34px 42px;
	margin-bottom: 150px;
	box-shadow: 0px 11px 15.84px 2.16px rgba(0, 0, 0, 0.33);
}

.main .sub-title {
	max-width: 460px;
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	line-height: 60px;
	color: #282d2d;
	margin-top: -4px;
}

.night-block .title3 {
	margin-top: 1px;
}

.next {
	position: relative;
	max-width: 505px;
	font-family: 'Myriad Pro', Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -0.5px;
	font-stretch: ultra-condensed;
	color: #6c7374;
	margin: 28px 0 57px;
}

.next::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 3px;
	top: -20px;
	background-color: rgba(169, 179, 227, 0.4);
}

.block-step-text {
	max-width: 478px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.block-step-text p:nth-child(2) {
	text-transform: uppercase;
	font-size: 28px;
	text-indent: 45px;
	letter-spacing: -1.6px;
	line-height: 52px;
	color: #a8aeae;
}

.step-text-social {
	width: 115px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.step-text-social i {
	color: #ffc908;
	font-size: 28px;
}

.step-text-social i:hover {
	transform: scale(1.3);
	color: #413f3f;

}
.step-text-social i:active {
	color: #413f3f;
	transform: scale(0.98);
}

.readmore {
	position: absolute;
	width: 608px;
	height: 600px;
	background-color: no-repeat;
	background-image: url("../../img/planet.jpg");
}

.night-block .readmore {
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
}

.night-block .readmore:hover {
	box-shadow: 0px 24px 26.39px 2.61px rgba(0, 0, 0, 0.24);
}

.readmore-wrap {
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(169, 179, 227, 0.7);
}

.readmore:hover .readmore-wrap {
	display: block;
}

.readmore a:first-child {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 252px;
	height: 81px;
	transform: translate(-50%, -50%);
	font-family: 'Myriad Pro', Arial, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
	font-size: 28px;
	line-height: 81PX;
	letter-spacing: 5.6px;
	color: #fff;
	border-radius: 3px;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.7);
}

.readmore a:first-child:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

.readmore a:first-child:active {
	background-color: rgba(255, 255, 255, 0.4);
}

.readmore-text {
	width: 335px;
	position: absolute;
	left: 50%;
	bottom: 54px;
	transform: translateX(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	font-style: italic;
	font-weight: 600;
	color: #fff;
}

.readmore .readmore-text a {
	font-family: 'Myriad Pro', Arial, sans-serif;
	font-weight: 600;
	font-size: 24px;
	font-style: italic;
	color: #fff;
}

.readmore .readmore-text i {
	font-size: 24px;
}

.trekking-block {
	position: relative;
	padding: 21px 110px 42px 34px;
	margin-bottom: 130px;
}

.trekking-block-wrap {
	margin-left: 57.5%;
}

.trekking-block .readmore {
	top: 50%;
	width: 572px;
	height: 598px;
	box-shadow: 0px 24px 26.39px 2.61px rgba(0, 0, 0, 0.24);
	left: 5px;
	transform: translateY(-50%);
	background-repeat: no-repeat;
	background-image: url("../../img/road.jpg");
}

.lifestyle-block {
	position: relative;
	margin-bottom: 73px;
	padding: 0;
}

.lifestyle-block .image-lifestyle {
	width: 100%;
	height: 570px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../../img/rail-road.jpg");
	box-shadow: 0px 19px 26.39px 2.61px rgba(0, 0, 0, 0.18);
}

.lifestyle-block .title3 {
	padding-left: 34px;
	margin-top: 12px;	
}

.lifestyle-text {
	position: relative;
	padding: 0 0 33px 34px;
}

.lifestyle-text p {
	font-size: 36px;
	line-height: 65px;
	letter-spacing: 6.2px;
	color: #282d2d;	
}

.inner-text {
	position: absolute;
	width: 500px;
	top: 100px;
	right: 34px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	color: #a8aeae;
	font-size: 16px;
	letter-spacing: 3.8px;
}

.inner-text a {
	color: #a8aeae;
}

.inner-text i {
	color: #b3dee0;
}

.lifestyle-block .block-step-text {
	max-width: 100%;
	padding: 0 34px;
	padding-bottom: 42px;
}

.food-travel {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 0 !important;
	margin-bottom: 72px;
}

.food-travel [class^="block-"] .readmore {
	position: relative;
	width: 592px;
	height: 575px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../img/hand-hold.jpg");
	margin-bottom: 37px;
}

.food-travel [class^="block-"] .readmore:hover {
	box-shadow: 0 19px 36px 0 rgba(0, 0, 0, 0.15);
}

.food-travel .block-2 .readmore {
	right: -15px;
	background-image: url("../../img/boy-girl-g.jpg");
}

.food-travel .inner-text {
	position: relative;
	top: auto;
	right: auto;
	left: 50%;
	transform: translateX(-50%);
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 0px;
	font-size: 22px;
	margin-bottom: 60px;
}

.food-travel-text {
	text-align: center;	
	padding: 0 34px;
}

.food-travel-text p:nth-of-type(2) {
	font-family: 'Open Sans', sans-serif;
	font-size: 28px;
	line-height: 60px;
	color: #282d2d;
	margin-top: -5px;
	margin-bottom: 16px;
} 

.food-travel .block-step-text {
	max-width: 100%;
	padding-bottom: 72px;
}

/* slider */
.lifestyle-slider {
	position: relative;
	width: 1248px;
	box-shadow: 0px 0 15.84px 2.16px rgba(0, 0, 0, 0.33);
}

.lifestyle-slider .lifestyle-block {
	box-shadow: none;
	margin-bottom: 39px;
}

.lifestyle-slider .lifestyle-block .block-step-text {
	padding-bottom: 0;
}

.lifestyle-slider .lifestyle-block .image-lifestyle {
	background-image: url("../../img/field.jpg");
}

.lifestyle-slider input {
	display: none;
}

.lifestyle-slider-inner {
	overflow-x: hidden;
}

.lifestyle-slider-slides {
	width: 300%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	transition: all 1s ease;
}

.lifestyle-slider-slides [class^="slide-"] {
	width: 1248px;
}

.lifestyle-slider-controls {
	position: absolute;
	bottom: -75px;
	left: 50%;
	transform: translateX(-50%);
	width: 1120px;
}

.lifestyle-slider-controls .arrows {
	position: relative;
}

.lifestyle-slider-controls .buttons {
	position: relative;
	width: 200px;
	bottom: -33px;
	left: 50%;
	transform: translateX(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.lifestyle-slider-controls .buttons label {
	width: 55px;
	height: 49px;
	border-radius: 50%;
	font-size: 20px;
	font-weight: 700;
	color: #413f3f;
	line-height: 49px;
	vertical-align: middle;
	text-align: center;
}

#life-btn-1:checked ~ .lifestyle-slider-controls .buttons label:nth-child(1),
#life-btn-2:checked ~ .lifestyle-slider-controls .buttons label:nth-child(2),
#life-btn-3:checked ~ .lifestyle-slider-controls .buttons label:nth-child(3) {
	background-color: #ffc908;
}

/* left arrow */
#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3),
#life-btn-2:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1),
#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(2) {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 21px;
	height: 10px;
	background-image: url("../../img/slider-arrow.png");
	z-index: 10;
}

#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3) {
	opacity: 0.3;
}

#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3):active,
#life-btn-2:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1):active,
#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(2):active {
	-webkit-filter: invert(1);
	filter: invert(1);
}

#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3)::before,
#life-btn-2:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1)::before,
#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(2)::before {
	position: absolute;
	content: "Previous";
	top: 50%;
	left: 37px;
	font-weight: 700;
	color:  #575c5c;
	font-size: 24px;
	top: 50%;
	transform: translateY(-50%);
}

#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3)::before {
	color:  #959595;
}

/* right arrow */
#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(2),
#life-btn-2:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3),
#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1) {
	position: absolute;
	display: block;
	width: 21px;
	height: 10px;
	right: 0;
	background-image: url("../../img/slider-arrow.png");
	transform: scaleX(-1);
}

#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1) {
	opacity: 0.3;
}

#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(2):active,
#life-btn-2:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3):active,
#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1):active {
	-webkit-filter: invert(1);
	filter: invert(1);
}

#life-btn-1:checked ~ .lifestyle-slider-controls .arrows label:nth-child(2):before,
#life-btn-2:checked ~ .lifestyle-slider-controls .arrows label:nth-child(3):before,
#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1):before {
	position: absolute;
	content: "Next";
	top: -14px;
	right: -70px;
	font-weight: 700;
	color:  #575c5c;
	font-size: 24px;
	transform: translateY(-50%);
	transform: scaleX(-1);
}

#life-btn-3:checked ~ .lifestyle-slider-controls .arrows label:nth-child(1):before {
	color:  #959595;
}

#life-btn-1:checked ~ .lifestyle-slider-inner .lifestyle-slider-slides {
	transform: translateX(0);
}
#life-btn-2:checked ~ .lifestyle-slider-inner .lifestyle-slider-slides {
	transform: translateX(-1248px);
}
#life-btn-3:checked ~ .lifestyle-slider-inner .lifestyle-slider-slides {
	transform: translateX(-2496px);
}


@media (max-width: 1919px) {
	.main .sub-title {
		max-width: 100%;
	}
	.lifestyle-block .image-lifestyle {
		-webkit-background-size: cover;
		background-size: cover;
	}
	.inner-text {
		position: relative;
		top: 0;
		right: 0;
	}
	.food-travel {
		justify-content: space-between;
	}
	.food-travel [class^="block-"] .readmore {
		margin: 0 auto;
		margin-bottom: 37px;
	}
	.food-travel .block-2 .readmore {
		right: auto;
	}
	.lifestyle-slider {
		margin: 0 auto;
		margin-bottom: 70px;
	}
}

@media (max-width: 1350px) {
	.trekking-block .readmore,
	.night-block .readmore {
		display: none;
	}
	.trekking-block,
	.night-block {
		display: inline-block;
		width: 100%;
		margin-bottom: 60px;
		padding: 0;
		text-align: center;
	}
	.trekking-block p,
	.night-block p {
		margin: 20px auto;
	}
	.trekking-block-wrap {
		margin-left: 0;
	}
	.block-step-text {
		margin: 0 auto;
	}
}